<main>
    <section class="form-section">
        <img src="images/logo.svg" alt="logo"/>
        <ng-content></ng-content>

    <div class = "btn-wrapper">
        <button 
            class="btn-primary"
            (click)="submit()"
            [disabled]="disablePrimaryBtn"
            >
            {{primaryBtnText}}</button>
        <div class="divider">
            <div></div>
            <span>ou</span>
            <div></div>
        </div>
        <button class="btn-secondary"(click)="navigate()">{{secondaryBtnText}}</button>
    </div>

    </section>

    <section class="main-section">
        <img src="/images\bg.jpg" alt="background"/>
    </section>
</main>
