<app-default-login-layout
    primaryBtnText = "Entrar"
    secondaryBtnText = "Cadastrar"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!loginForm.valid"
>
    <form [formGroup]="loginForm">
        <app-primary-input
            formControlName="email"
            inputName="email"
            type="email"
            label="Email ou CPF"
            placeholder="maringa@email.com"
        >
        </app-primary-input>

        <app-primary-input
        formControlName="password"
        inputName="password"
        type="password"
        label="Sua Senha"
        >
    </app-primary-input>
    <span>Esqueceu sua senha ?</span>

    <div class="btn-service-wrapper">
        <button>
            <img src="images/google.svg" alt="Google">
        </button>
        <button>
            <img src="images/facebook.svg" alt="Facebook">
        </button>
        <button>
            <img src="images/linkedin.svg" alt="LinkedIn">
        </button>
            </div>
    </form>
    
</app-default-login-layout>