@use "../../../styles/variables.scss" as *;

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 144px;

    span{
        font-size: 14px;
        color: $primary-color;
        text-align: end;
        margin-top: -8px;
        cursor: pointer;

    }

    .btn-service-wrapper {
        display: flex; 
        justify-content: center; 
        gap: 33px;

        button{
            margin-bottom: 30px;
            border: none;
            width: 65px; /* Define a largura do botão */
            height: 65px; /* Define a altura do botão */
            cursor: pointer; /* Garante que o cursor seja um ponteiro */

        }

    }

    
}